target
src/**/*.js
src/**/*.map
node_modules
dist
yarn.lock
*.settings
*.project
*.classpath
.idea
npm-debug.log
coverage
webpack-cache
temp
build
workspace
.awcache/
.history/
*.iml
*.code-workspace
.nyc_output/
*.yo-rc.json
*.factorypath
debug.log